/**
 *  Buttons
 */ 
 .basic-btn-colors {
    background: #0091cd;
    border: 1px solid #0073aa;
    box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
    color: #fff;
 }
.gdrive-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.gdrive-btn-file, .gdrive-btn-delete {
    @extend .basic-btn-colors;

    &:hover {
        background: #006ca2;
        border-color: #006ca2;
        -webkit-box-shadow: inset 0 1px 0 rgba(144, 230, 224, 0.6);
        box-shadow: inset 0 1px 0 rgba(120,200,230,.6);
        color: #fffbfb;
    }

    & input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}
